.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.vscode
Untitled
issues

# atom config folder
.atom/

# html tutorial output
inst/tutorials/*/*.html

lara-plugin/node_modules
lara-plugin/dist
lara-plugin/.cache