.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.vscode
Untitled
issues

# atom config folder
.atom/

# html tutorial output
inst/tutorials/*/*.html

# deployment output
rsconnect/
inst/doc
doc
Meta
