.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.vscode
Untitled
issues

# atom config folder
.atom/

# html tutorial output
inst/tutorials/*/*.html

# deployment output
rsconnect/

# multi language example
learnr-folder-for-debug
portal_mammals.sqlite

inst/doc
doc
Meta
