# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: false
cache: packages

r:
  - oldrel
  - release
  - devel

notifications:
  email:
    on_success: change
    on_failure: change


jobs:
  include:
    - stage: "Deploy"
      name: "Deploy tutorials"
      if: branch IN (master, travis) AND repo = rstudio/learnr AND type = push
      r: release
      warnings_are_errors: false
      r_packages:
        - sortable
      script:
      - Rscript tools/deploy_tutorials_on_travis.R
