
.tutor-exercise-support {
  display: none;
}

.tutor-exercise-input {
  margin-top: 20px;
  position: relative;
}

.tutor-exercise-run {
  position: absolute;
  right: 0;
  z-index: 100;
}


.tutor-exercise-code-editor {
  border: solid 1px #cccccc;
  margin-bottom: 20px;
  width: 100%;
  line-height: 1.6;
}

.tutor-exercise-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.ace-tm {
  background-color: rgb(252,252,252);
}
