/* colors */
/* timing */
/* sizes */
body, button, input, textarea {
  font-family: 'Source Sans', sans-serif;
  font-weight: normal; }

/* content */
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 300; }

h1 {
  font-size: 2.4em;
  margin: .75em 0 .5em 0; }

h2 {
  font-size: 2.0em;
  margin: .75em 0 .5em 0; }

h3 {
  font-size: 1.6em;
  margin: .75em 0 .5em 0; }

h4 {
  font-size: 1.2em;
  margin: .75em 0 .5em 0; }

p {
  line-height: 1.6em;
  margin-bottom: 1em; }

ul {
  line-height: 2em;
  list-style: disc outside none; }

.btn {
  padding: 10px 20px;
  border-radius: 3px; }

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 0.9em;
  line-height: 1.6em; }

.btn-default {
  background-color: #e0e0e0;
  background-image: none;
  border: none; }
  .btn-default:hover {
    background-color: #c8c8c8; }
  .btn-default:focus {
    background-color: #e0e0e0; }

.btn-primary, .btn-success, .btn-info {
  background-color: #75aadb;
  background-image: none;
  border: none; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:focus:active, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:focus:active, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:focus:active {
    background-color: #5a9ddb; }
  .btn-primary:focus:hover, .btn-primary:active:hover, .btn-primary:focus:active:hover, .btn-success:focus:hover, .btn-success:active:hover, .btn-success:focus:active:hover, .btn-info:focus:hover, .btn-info:active:hover, .btn-info:focus:active:hover {
    background-color: #4c83b6; }
  .btn-primary.disabled, .btn-primary:disabled, .btn-primary.disabled:hover, .btn-primary:disabled:hover, .btn-success.disabled, .btn-success:disabled, .btn-success.disabled:hover, .btn-success:disabled:hover, .btn-info.disabled, .btn-info:disabled, .btn-info.disabled:hover, .btn-info:disabled:hover {
    background-color: #75aadb; }

.panel, pre {
  border-radius: 0;
  border-color: #e0e0e0; }
