

#section-TOC .toc-controls {
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 14px;
  padding-right: 14px;
  border-top: 1px solid #ccc;
}

#section-TOC button {
  width: 100%;
  margin-top: 10px;
  color: #777;
}

#section-TOC button>i {
  margin-right: 8px;
}