on:
  push:
    branches:
      - master
      - ghactions
  pull_request:
    branches:
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: '3.6'}
          - {os: windows-latest, r: 'devel'}
          - {os: macOS-latest, r: '3.6'}
          - {os: ubuntu-16.04, r: '3.2', cran: "https://packagemanager.rstudio.com/all/__linux__/xenial/latest"}
          - {os: ubuntu-16.04, r: '3.3', cran: "https://packagemanager.rstudio.com/all/__linux__/xenial/latest"}
          - {os: ubuntu-16.04, r: '3.4', cran: "https://packagemanager.rstudio.com/all/__linux__/xenial/latest"}
          - {os: ubuntu-16.04, r: '3.5', cran: "https://packagemanager.rstudio.com/all/__linux__/xenial/latest"}
          - {os: ubuntu-16.04, r: '3.6', cran: "https://packagemanager.rstudio.com/all/__linux__/xenial/latest"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      CRAN: ${{ matrix.config.cran }}

    steps:
      - uses: actions/checkout@v1

      - uses: r-lib/actions/setup-r@master
        with:
          r-version: ${{ matrix.config.r }}
      - name: R Options
        shell: bash
        run: |
          echo 'MAKEFLAGS=-j2' >> .Renviron


      - uses: r-lib/actions/setup-pandoc@master

      - name: Query dependencies
        run: >
          Rscript
          -e "install.packages('remotes')"
          -e "saveRDS(remotes::dev_package_deps(dependencies = TRUE), 'depends.Rds', version = 2)"

      - name: Cache R packages
        if: runner.os != 'Windows'
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ matrix.config.r }}-${{ hashFiles('depends.Rds') }}
          restore-keys: ${{ runner.os }}-r-${{ matrix.config.r }}-

        # remove this step once Rcpp (> 1.0.4) is uploaded
      - name: Rcpp band-aid
        run: >
          Rscript
          -e "if (system.file(package = 'Rcpp') == '') install.packages('Rcpp', repos=c('https://RcppCore.github.io/drat', '${{ matrix.config.cran }}'), type = 'source')"

      - name: Install dependencies
        run: >
          Rscript
          -e "library(remotes)"
          -e "if (.Platform[['OS.type']] == 'windows' || Sys.info()[['sysname']] == 'Darwin') options(pkgType = 'binary')"
          -e "if (.Platform[['OS.type']] == 'windows') remotes::install_cran(c('stringr', 'stringi'))"
          -e "update(readRDS('depends.Rds'))"
          -e "remotes::install_cran('rcmdcheck')"

      - name: Check
        run: >
          Rscript
          -e "rcmdcheck::rcmdcheck(args = '--no-manual', error_on = 'note', check_dir = 'check')"

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check

      - name: Test coverage
        if: false
        # if: matrix.config.os == 'macOS-latest' && matrix.config.r == '3.6'
        run: >
          Rscript
          -e 'covr::codecov(token = "${{secrets.CODECOV_TOKEN}}")'




  deploy:
    if: github.repository == 'rstudio/learnr' && github.event_name == 'push'
    runs-on: ${{ matrix.config.os }}

    name: "Deploy to shinyapps.io"
    needs: [R-CMD-check]

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-16.04, r: '3.6', cran: "https://packagemanager.rstudio.com/all/__linux__/xenial/latest"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      CRAN: ${{ matrix.config.cran }}

    steps:
      - uses: actions/checkout@v1

      - uses: r-lib/actions/setup-r@master
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@master

      - name: Query dependencies
        run: >
          Rscript
          -e "install.packages('remotes')"
          -e "saveRDS(remotes::dev_package_deps(dependencies = TRUE), 'depends.Rds', version = 2)"

      - name: Cache R packages
        if: runner.os != 'Windows'
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ matrix.config.r }}-deploy-${{ hashFiles('depends.Rds') }}
          restore-keys: |
            ${{ runner.os }}-r-${{ matrix.config.r }}-deploy-
            ${{ runner.os }}-r-${{ matrix.config.r }}-

      - name: Install dependencies
        run: >
          Rscript
          -e "library(remotes)"
          -e "update(readRDS('depends.Rds'))"
          -e "remotes::install_cran('sortable')"

      - name: Deploy
        env:
          SHINYAPPS_NAME: ${{ secrets.SHINYAPPS_NAME }}
          SHINYAPPS_TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
          SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}
        run: >
          Rscript 'tools/deploy_tutorials_on_ci.R'
